.maindiv{
    height: 45vh;
    width: 100vw;
    background-size: auto 75%;
    background-image: url(https://tobythegoat.io/images/bg_siteintro.png);
    background-repeat: repeat-x;
    background-position: center top;
    margin-top: -2rem;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .maindiv1112{
    height: 70vh;
    width: 100vw;
} */
.tobbyimages3{
    position: absolute;
    margin-top: 7rem;
    width: 45rem;
}
.Imagesclassdiv333{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:768px){
    .tobbyimages3{
        position: absolute;
        margin-top: 4rem;
        width: 23rem;
    }
}
