.Mainclass111 {
  height: 70vh;
  width: 100vw;
  background: linear-gradient(170deg, rgb(17, 39, 44) 0%, rgb(58, 93, 100) 100%)
    rgb(17, 39, 44);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.AboutPart {
  height: 60vh;
  width: 28vw;
}
.ImagePart {
  height: 60vh;
  width: 28vw;
}
.Aboutdescription111 {
  color: white;
}
