.Mainclass111p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Mainclassdiv333p {
  display: flex;
  padding: 40px 0px;
  width: 100%;
}

.Aboutdescription111p {
  color: black;

  justify-content: center;
}
.firstcolumnp {
  display: flex;

  flex-direction: column;
}
.imgsettingp {
  position: absolute;
  width: 24rem;
  height: 24rem;
}
@media (max-width: 500px) {
  .imgsettingp {
    display: none;
  }
}
@media (min-width: 1024px) {
  .imgsettingp {
    position: absolute;
    width: 20.5rem;
    height: 20.5rem;
  }
}

